<li class="programs-menu_item" menu-elem="programs-menu-item">
    <a 
        href="{{ path('app_frontend_course', {id: permission.courseId}) }}" 
        class="programs-menu_item_header" 
        menu-elem="program-header"
    >
        {{ permission['name'] }}
    </a>
    <ul class="modules-menu" menu-elem="modules-menu">
        {% if permission['courseInfoUrl'] is not null %}
            <li class="modules-menu_item">
                <div class="modules-menu_item_header">
                    {# <a href="permission['courseInfoUrl']">Нормативная документация</a> #}
                    <a href="#">Нормативная документация</a>
                </div>
            </li>
        {% endif %}
        <li class="modules-menu_item">
            <div class="modules-menu_item_header">Модуль 1. Название модуля</div>
            <ul class="parts-menu">
                <li class="parts-menu_item">
                    <a href="module_theory.html">Теоретическая часть</a>
                </li>
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Практическая часть</a>
                </li>
            </ul>
        </li>
        <li class="modules-menu_item">
            <div class="modules-menu_item_header">Модуль 2. Название модуля</div>
            <ul class="parts-menu">
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Теоретическая часть</a>
                </li>
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Практическая часть</a>
                </li>
            </ul>
        </li>
        <li class="modules-menu_item">
            <div class="modules-menu_item_header">Модуль 3. Название модуля</div>
            <ul class="parts-menu">
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Теоретическая часть</a>
                </li>
                <li class="parts-menu_item">
                    <a href="javascript:void(0)">Практическая часть</a>
                </li>
            </ul>
        </li>
        <li class="modules-menu_item">
            <div class="modules-menu_item_header">
                <a href="express_test.html">Итоговое тестирование</a>
            </div>
        </li>
    </ul>
</li>
