{% extends 'admin/base_mobile.html.twig' %}

{% block title %}Панель управления | Информация о пользователе{% endblock %}

{% block content %}
    <h3>Информация о пользователе</h3>

    <div class="row">
        <p><b>ФИО:</b> {{ user.fullName }}</p>
        <p><b>Организация:</b> {{ user.organization }}</p>
        <p><b>Логин:</b> {{ user.login }}</p>
        <p><b>Пароль:</b> {{ user.plainPassword }}</p>
    </div>

{% endblock %}