<div class="programs_item" content-elem="programs-item">
    <div class="programs_item_image_wrapper">
        <div class="programs_item_image_inner">
            <img src="images/first_aid.jpg" alt="">
        </div>
    </div>
    <div class="programs_item_header">
        Оказание первой помощи пострадавшим
    </div>
    <div class="programs_item_status_wrapper">
        <div class="programs_item_status"></div>
        <a href="javascript:void(0)" class="programs_item_status_link red_button">Начать обучение</a>
    </div>
</div>