<p></p>

{% if is_granted('ROLE_SUPER_ADMIN') %}
    <a
        href="{{ path('admin_module_section_add', {id: form.vars['value'].id}) }}"
        class="btn btn-outline-success"
    >
        Добавить страницу
    </a>
{% endif %}

<table class="table">

    <tbody>
        {% for section in moduleSection %}
            <tr>
                <td>
                    <a href="{{ path('admin_module_section_edit', {id: section.id}) }}" class="">
                        {{ section.name }}
                    </a>
                </td>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <td>
                        <a
                            href="{{ path('admin_module_section_delete', {'id': section.id}) }}"
                            class="btn btn-sm btn-outline-danger"
                            onclick="return window.confirm('Подтвердите действие');"
                        >
                            Удалить
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
