{% extends 'frontend/base.html.twig' %}

{% block title %}{{ course.name }}{% endblock %}

{% block body %}

    {% include('frontend/components/header.html.twig') %}

    <div class="global-content">
        {% include('frontend/components/background.html.twig') %}
        <div class="wrapper container">
            {{ render(path('app_frontend_left_menu', {'activeItem': 'my-programs', 'activeCourse': course.id})) }}
            <div class="content">
                <div class="program">
                    {{ content | raw }}
                </div>
            </div>
        </div>
    </div>

    {% include('frontend/components/footer.html.twig') %}

    <div class="overlay" popup-element="overlay"></div>

{% endblock %}
