<div style="text-align:center">
    <image src="{{ asset('/img/404.png') }}">
</div>

<p></p>

<div style="text-align:center">
    К сожалению, что то сломалось....ремонтная бригада уже в пути!!!
    <a href="/">
        Вернуться на главную страницу
    </a>
</div>