<div style="text-align:center">
    <image src="{{ asset('/img/403.png') }}">
</div>

<p></p>

<div style="text-align:center">
    <p>У вас не хватает прав, чтобы выполнить это действие.</p>
    <p>Обратитесь в службу поддержки:</p>
    <p>телефон: 8 (846) 26-915-26 доб. 1103, <a href="mailto:uc@safety63.ru">e-mail: uc@safety63.ru</a></p>
    <p>График работы: ПН-ЧТ: 08:00-17:00, ПТ: 08:00-16:00</p>
    <p>Памятка по ошибкам: <a href="https://disk.yandex.ru/d/dRsfLK4vTduveQ">Посмотреть</a></p>
</div>