<a href="{{ path('profilePage') }}" class="header_profile">
    <div class="header_profile_fullname">
        <div class="header_profile_lastname">Константинопольский</div>
        <div class="header_profile_name">
            <div class="header_profile_firstname">Константин</div>
            <div class="header_profile_middlename">Константинович</div>
        </div>
    </div>
    <!--Если у пользователя есть аватарка-->
    <div class="header_profile_avatar">
        <img src="{{ asset('img/avatar.png') }}" alt="">
    </div>
    <!--Если у пользователя нет аватарки, выводим первые буквы
    фамилии и имени-->
    <!--<div class="header_profile_noavatar">
        <div class="header_profile_noavatar_abbreviation">КК</div>
    </div>-->
</a>