<a href="{{ path('app_demo_profile') }}" class="header_profile">
    <div class="header_profile">
        <div class="header_profile_fullname">
                <div class="header_profile_lastname">Иванов Иван Иванович (демо-версия)</div>
                <div class="header_profile_name">
                    <div class="header_profile_firstname">ООО "Ромашка"</div>
                    <div class="header_profile_middlename"></div>
                </div>
        </div>

        <div class="header_profile_avatar">
            <img src="{{ asset('img/big.jpg') }}" alt="">
        </div>
    </div>
</a>
