<div class="global-background">
    <div class="global_background_overlay"></div>
    <div class="global-background_image">
        <img src=" {{ asset('img/global-background-image.svg') }}" alt="">
    </div>
</div>