<footer class="footer">
    <div class="footer-content container">
        <div class="copyright">
            {{ 'now'| date('Y') }}, Система дистанционного обучения "PROобучение"</a> 
        </div>
        <div class="support">Служба технической поддержки: <a href="tel:+78462691526">+7 (846) 26-915-26</a></div>
    </div>
</footer>
