<footer class="footer">
    <div class="footer-content container">
        <div class="copyright">
            {{ 'now'| date('Y') }}, Система дистанционного обучения «PROобучение»
        </div>
        <div class="support">Служба поддержки: <a href="tel:+78462691526">+7 (846) 26-915-26 доб. 1103</a></div>
    </div>
</footer>
