МЕНЮ ПЕРЕЕХАЛО
{# <div class="left-menu">
    <div class="main-menu_mobile_button" menu-elem="mobile-open">Меню</div>
    <nav class="main-menu" menu-elem="main-menu">
        <li class="main-menu_item {% if activeItem == 'my-programs' %}active{% endif %}" menu-elem="main-menu-item">
            <div class="main-menu_item_header" menu-elem="main-header">Мои программы</div>
            <ul class="programs-menu" menu-elem="programs-menu">
                <li class="programs-menu_item" menu-elem="programs-menu-item">
                    <div class="programs-menu_item_header" menu-elem="program-header">Оказание первой помощи пострадавшим</div>
                    <ul class="modules-menu" menu-elem="modules-menu">
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">Модуль 1. Название модуля</div>
                            <ul class="parts-menu">
                                <li class="parts-menu_item">
                                    <a href="module_theory.html">Теоретическая часть</a>
                                </li>
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Практическая часть</a>
                                </li>
                            </ul>
                        </li>
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">Модуль 2. Название модуля</div>
                            <ul class="parts-menu">
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Теоретическая часть</a>
                                </li>
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Практическая часть</a>
                                </li>
                            </ul>
                        </li>
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">Модуль 3. Название модуля</div>
                            <ul class="parts-menu">
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Теоретическая часть</a>
                                </li>
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Практическая часть</a>
                                </li>
                            </ul>
                        </li>
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">
                                <a href="express_test.html">Итоговое тестирование</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="programs-menu_item" menu-elem="programs-menu-item">
                    <div class="programs-menu_item_header" menu-elem="program-header">Общие вопросы охраны труда и функционирования СУОТ</div>
                    <ul class="modules-menu" menu-elem="modules-menu">
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">Модуль 1. Название модуля</div>
                            <ul class="parts-menu">
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Теоретическая часть</a>
                                </li>
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Практическая часть</a>
                                </li>
                            </ul>
                        </li>
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">Модуль 2. Название модуля</div>
                            <ul class="parts-menu">
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Теоретическая часть</a>
                                </li>
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Практическая часть</a>
                                </li>
                            </ul>
                        </li>
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">Модуль 3. Название модуля</div>
                            <ul class="parts-menu">
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Теоретическая часть</a>
                                </li>
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Практическая часть</a>
                                </li>
                            </ul>
                        </li>
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">
                                <a href="javascript:void(0)">Итоговое тестирование</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="programs-menu_item" menu-elem="programs-menu-item">
                    <div class="programs-menu_item_header" menu-elem="program-header">Б2. Нефтяная и газовая промышленность</div>
                    <ul class="modules-menu" menu-elem="modules-menu">
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">Модуль 1. Название модуля</div>
                            <ul class="parts-menu">
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Теоретическая часть</a>
                                </li>
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Практическая часть</a>
                                </li>
                            </ul>
                        </li>
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">Модуль 2. Название модуля</div>
                            <ul class="parts-menu">
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Теоретическая часть</a>
                                </li>
                                <li class="parts-menu_item">
                                    <a href="javascript:void(0)">Практическая часть</a>
                                </li>
                            </ul>
                        </li>
                        <li class="modules-menu_item">
                            <div class="modules-menu_item_header">
                                <a href="javascript:void(0)">Итоговое тестирование</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="main-menu_item  {% if activeItem == 'history' %}active{% endif %}" menu-elem="main-menu-item">
            {# <a class="main-menu_item_header" href="{{ path('historyPage') }}">История обучения</a> #}
            <a class="main-menu_item_header" href="#">История обучения</a>
        </li>
        <li class="main-menu_item  {% if activeItem == 'support' %}active{% endif %}" menu-elem="main-menu-item">
            {# <a class="main-menu_item_header" href="{{ path('supportPage')}}">Поддержка</a> #}
            <a class="main-menu_item_header" href=#">Поддержка</a>
        </li>
    </nav>
</div> #}