<div class="row">
    <div class="mb-3">
        <label for="add_days" class="form-label">Количество дней</label>
        <input class="form-control" name="add_days" id="add_days">
    </div>
    <div class="mb-3">
        <button
            class="btn btn-outline-primary"
            id="permission-action-prolongate"
            data-url={{ path('admin_permission_prolongate_action') }}
        >
            Продолжить
        </button>
    </div>
</div>
