<div class="control-questions_display">
    <div class="control-questions_display_count_wrapper">
        <div class="control-questions_display_count_header">отображать по: </div>
        <div class="control-questions_display_count">
            <a href="javascript:void(0)" class="control-questions_display_count_item active">20</a>
            <div class="control-questions_display_separator">|</div>
            <a href="javascript:void(0)" class="control-questions_display_count_item">50</a>
            <div class="control-questions_display_separator">|</div>
            <a href="javascript:void(0)" class="control-questions_display_count_item">100</a>
        </div>
    </div>
    <div class="control-questions_display_pages_wrapper">
        <!--отображаем если не на 1 транице-->
        <!--<a href="javascript:void(0)" class="control-questions_display_pages_item">в начало</a>
        <div class="control-questions_display_separator">|</div>-->
        <a href="javascript:void(0)" class="control-questions_display_pages_item active">1</a>
        <div class="control-questions_display_separator">|</div>
        <a href="javascript:void(0)" class="control-questions_display_pages_item">2</a>
        <div class="control-questions_display_separator">|</div>
        <a href="javascript:void(0)" class="control-questions_display_pages_item">3</a>
        <div class="control-questions_display_separator">|</div>
        <a href="javascript:void(0)" class="control-questions_display_pages_item">4</a>
        <div class="control-questions_display_separator">|</div>
        <a href="javascript:void(0)" class="control-questions_display_pages_item">в конец</a>
    </div>
</div>
