<form class="control-questions_item" test-form-elem="form">
    <div class="test_form_question_wrapper">
        <div class="test_form_question_number">
            1.
        </div>
        <div class="test_form_question">
            Какое из приведенных испытаний не является обязательным видом механических испытаний котлов (трубопроводов)?
        </div>
    </div>
    <label class="test_form_label test_form_radio_wrapper">
        <input class="test_form_radio" type="radio" name="answer1" value="1">
        <div class="test_form_custom_radio"></div>
        <div class="test_form_answer">Испытание на статическое растяжение</div>
    </label>
    <label class="test_form_label test_form_radio_wrapper">
        <input class="test_form_radio" type="radio" name="answer1" value="2">
        <div class="test_form_custom_radio"></div>
        <div class="test_form_answer">Испытание на статический изгиб</div>
    </label>
    <label class="test_form_label test_form_radio_wrapper">
        <input class="test_form_radio" type="radio" name="answer1" value="3">
        <div class="test_form_custom_radio"></div>
        <div class="test_form_answer">Испытание на ударный изгиб</div>
    </label>
    <div class="control-questions_item_prompt_wrapper" test-form-elem="prompt-wrapper">
        <a class="control-questions_item_prompt_open" test-form-elem="prompt-open">подсказка</a>
        <div class="control-questions_item_prompt" test-form-elem="prompt">
            <span>Подсказка: </span><!--Тут вставляем подсказку-->
            Подсказка на вопрос
        </div>
    </div>
    <div class="control-questions_item_buttons_wrapper">
        <button type="button" class="white-blue_button control-questions_item_button">Ответить</button>
        <!--Результат ответа-->
        <div class="control-questions_item_result right">Правильно</div>
    </div>
</form>
                        